* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    font-size: 50px;
    font-weight: normal;
    color: white;
    width: 90%;
    margin: 40px auto;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

p {
    font-size: 21px;
    color: gray;
    padding: 25px 0;
}

.cta {
    color:aquamarine;
    font-size: 16px;
}

